.container{
    width: 80%;
    margin: auto;    
    
}

.quiz{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;    
}
.quiz-contents{
    text-align: center;
}
.nums{
    display: flex;    
    justify-content: center;
    align-items: center;    
}

.num1, .num2{    
    font-size: 52px;
    color: rgba(0,0,0,.6);
    transition: 300ms ease-in-out;
}
 h3{
     color: rgba(0,0,0,.6);
 }
    

 input.answer{
     border: 1px solid rgba(0,0,0,.06);
     box-shadow: 0px 0px 1px rgba(0,0,0,.06);
     padding: 5px 15px;
     border-radius: 5px;
     transition: 200ms ease-in-out;
     outline: none;     
 }
 input.answer:focus{
     box-shadow: 0px 0px 2px seagreen;     
 }

 #answer-bar{
     width: 100%;    
     display: flex;  
     border: 1px solid rgba(0,0,0,.06);
     border-radius: 5px;
 }

 #answer-bar div.box:first-child{
     border-left: none;
 }
 #answer-bar div.box{     
     width: 100%;
     text-align: center;
    padding: .5em;    
    border-left: 1px solid rgba(0,0,0,.06);
    background-color: rgba(0,0,0,.006);
}
div.score span{
    font-size: 28px;    
}   

div.game-over a.restart{
    background-color: seagreen;
    padding: .5em;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    width: 150px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.2), 0px 1px 2px rgba(0,0,0,.5);
}
#operands{
    margin: 10px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);    
    border-radius: 3px;
    color: rgba(0,0,0,.6);
}